<div class="forms-wrapper" ng-controller="AuthController" ng-if="authService.isAnonymous()">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Login</h3>
        </div>
        <div id="login" class="panel-body text-right">
            <p>
                <label for="user-name">Username</label>
                <input type="text" id="user-name" ng-model="userData.username" placeholder="Type your username" required/>
            </p>

            <p>
                <label for="user-password">Password</label>
                <input type="password" id="user-password" ng-model="userData.password" placeholder="Type your password" required/>
            </p>

            <button ng-click="login(userData)" type="button" class="btn btn-default">Login</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Register</h3>
        </div>
        <div id="register" class="panel-body text-right">
            <p>
                <label for="register-username">Username</label>
                <input type="text" id="register-username" ng-model="user.username" placeholder="Type your username"/>
            </p>

            <p>
                <label for="register-pass">Password</label>
                <input type="password" id="register-pass" ng-model="user.password" placeholder="Chose a password"/>
            </p>

            <p>
                <input type="password" id="register-pass-confirm" ng-model="user.confirmPassword" placeholder="Confirm password"/>
            </p>

            <p>
                <label for="register-name">Name</label>
                <input type="text" id="register-name" ng-model="user.name" placeholder="Type your name"/>
            </p>

            <p>
                <label for="register-email">Email</label>
                <input type="email" id="register-email" ng-model="user.email" placeholder="Type your email address"/>
            </p>

            <p>
                <input type="radio" ng-model="user.gender" name="sex" id="sex-m" value="1">
                <label for="sex-m">Male</label>
                <input type="radio" ng-model="user.gender" name="sex" id="sex-f" value="2">
                <label for="sex-f">Female</label>
                <input type="radio" ng-model="user.gender" name="sex" id="sex-other" value="3">
                <label for="sex-other">Other</label>
            </p>


            <button type="button" ng-click="register(user)" class="btn btn-default">Register</button>
        </div>
    </div>
</div>


<div ng-controller="AuthController" ng-if="authService.isLoggedIn()">
    <div ng-include="'templates/partials/user-wall.html'"></div>
    <div ng-include="'templates/partials/friends-sidebar.html'"></div>
</div>

