<div class="panel panel-default" ng-init="getOwnFriends()">
    <div class="panel-heading">Friends full list - {{friends.length}} total</div>
    <div class="panel-body">
        <div ng-repeat="friend in friends | filter:searchFriend">
            <a ng-href="#/users/:{{friend.username}}">
                <div id="friends-sidebar">
                    <img ng-src="{{friend.profileImageData}}" src='img/no-image.jpg'/>
                    <p>{{friend.name.split(' ').slice(0, -1).join(' ')}}</p>
                </div>
            </a>
        </div>
    </div>
    <div id="search-friend" class="col-xs-2"><input class="form-control" type="text" ng-model="searchFriend" placeholder="Search"></div>
</div>